tbar {
    border:1px solid gray;
    margin:10px;
    height: 279px;
    float:left;
    padding: 0;
    border-radius: 3px;
    z-index:0;
}
.tbar_uninitialized {
    border:1px solid rgba(173, 216, 230, 0.34);
}

.unit_tbar_btn {
    margin: 2px;
}
.unit_add_btn {
    width:57px;
    height:27px;
    margin: 2px 10px;
    float:right;
    background: #AAC7D1;
    border-bottom: 2px dotted #888 !important;
    border-radius: 10px;
    font-size: 1.0rem;
    padding:2px 0;
}

.benchmarks_icon {
    width: 14px;
    height: 15px;
    margin-right: 4px;
    float:left;
}
.benchmark_bar_img {
    margin-bottom: 1px;
    display:block;
}
.benchmark_bar_div {
    width: 14px;
    height: 3px;
    margin-right: 4px;
    margin-bottom: 1px;
    float:left;
}
.benchmark_green {
    background-color: lightgreen;
    border: 1px grey solid;
}
.benchmark_black {
    background-color: black;
}
.benchmark_red {
    background-color: red;
}

.tbar_col_div {
    width:137px;
    /*width:135px;
    height:244px;*/
    float:left;
}
.tbar_col_scroll_div {
    width:134px;
    height:211px;
    overflow-y:scroll;
    margin-top: 2px;
}
.tbar_col_left_div {
    border-right: 1px solid #999;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 2px;
}

::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.scroll-pane {
    width: 140px;
    height: 228px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.left_scroll_pane {
    direction: rtl;
}
.left_scroll_pane>div {
    direction: ltr;
}

.action_col_right>.right_scroll_pane{
    background: #FFFF88;
}

.unit_btn {
    width: 57px;
    height: 27px;
    border-radius: 10px;
    font-size: 1.0rem;
    padding: 4px 0 0 0;
}

.acct_unit_btn {
    width:57px;
    height:27px;
    margin: 2px 5px;
    background: yellow;
    border: 2px #AAC7D1 solid;
    padding:2px 0;
    float:left;
    border-radius: 10px;
}
.action_add_btn {
    /*width:57px;*/
    /*height:27px;*/
    /*margin: 2px 4px;*/
    /*float:right;*/
    background: #AAC7D1;
    border-bottom: 2px dotted #888 !important;
    /*border-radius: 10px;*/
    /*font-size:0.8rem;*/
    /*padding:6px 0;*/
}

.par-btn {
    width:30px;
    padding:4px;
    font-size: 0.6rem;
}
.sector_name_btn {
    width:178px;
    height: 24px;
    padding: 0 0 0 2px;
    font-size: 1.0rem;
    float:left;
    margin:2px;
}
.bnch-btn {
    width:57px;
    padding:4px;
    font-size: 0.6rem;
}

.personnel_btn {
    width: 20px;
    height: 20px;
    padding: 2px 0;
    border-radius: 15px;
    font-size: 0.8rem;
    /*background: #CCC;*/
}

.psi_red {
    background: red;
    color: #FFF !important;
}
.psi_yellow {background: yellow;}
.psi_green {background: #3dff00;}
.psi_btn {
    width:  25px;
    color: #666;
    font-weight: normal;
    font-size: 0.6rem;
    text-shadow: none;
    padding: 4px 0;
}

.par_sector_btn {
    width:170px;
    margin:5px auto !important;
    float: none;
}

.bnch_icon_off {
    content:url(img/bnch_bar_black.png);
}

.bnch_icon_on_good {
    content:url(img/bnch_bar_green.png);
}

.bnch_icon_on_bad {
    content:url(img/bnch_bar_red.png);
}

.gridster .gs-w {
    /*cursor: pointer;*/
}

.gridster .player {
    background: #BBB;
}

.gridster .preview-holder {
    border: none!important;
    background: red!important;
}


.tbar_title_container {
    background: #DDD;
    height: 29px;
}
.tbar_title_dir_td {
    width:30px;
    font-size:0.7rem;
    padding-top:4px;
}
.tbar_title_dir_wide_td {
    width: 33px;
}
.tbar_title_num_td {
    width:10px;
    padding-right:5px;
}
.tbar_title_td {
    width: 130px;
}
.tbar_title_td div {
    width: 100%;
    text-align:center;
}

.action_btn {
    width: 126px;
    height: 26px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 4px;
    box-shadow: none;
    font-size: 0.65rem !important;
    font-weight: bold;
    padding-bottom: 2px;
    color: black;
}

.tbar_unit_info_btn {
    border:1px solid #EEE;
    float:left;
    border-radius: 5px;
    margin-left: 0;
}
.tbar_unit_info_btn:hover {
    background:#9ad1ff;
    cursor: pointer;
}
.tbar_unit_info_btn:active {
    background:#6BACE3;
    cursor: pointer;
}

.tbar_unit_row {
    height: 35px;
}

