body.splashpage {
    background: #202020;
    color: black;
    text-align: center;
    height: 100%;
}

#splash_outer_outer_div {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: table;
}

#splash_outer_inner_div {
    display: table-cell;
    vertical-align: middle;
}

.splash_row1 {
    width: 800px;
    margin-left: 100px;
    float: left;
}

#splash_row2 {
    text-align: left;
    width: 100%;
}

#splash_row3 {
    width: 800px;
    margin: 0 auto;
}

#splash_row4 {
    width: 800px;
    margin: 0 auto;
}

#splash_title_logo_img {
    margin-left: 100px;
    float: left;
}

#splash_inc_info_container {
    padding-top: 50px;
    float: left;
}

#incident_info_entry {
    font-family: sans-serif;
    font-size: 1.2rem;
}
.splash_start_btns_div {
    float:left;
}
.splash_start_btn:nth-of-type(1){
    margin-left: 210px;
}
.splash_start_btn:nth-of-type(2){
    margin-right: 210px;
}
.splash_start_btn {
    height: 70px;
    width: 180px;
    margin: 10px;
    font-size: 2.0rem;
    padding-top: 5px !important;
    float: left;
}

.splash_start_btn_icon {
    width: 40px;
    height: 40px;
}

.splash_start_btn_text {
    margin-left: 10px;
    font-size: 0.8rem;
}

.lic_info_splash {
    background: transparent !important;
    text-align: left;
}

.splash_inctable {
    margin-top: 50px;
    margin-left: 100px;
    float:left;
}
.splash_inctable td{
    padding:5px;
    border: 1px solid #666;
    text-align: left;
    background: #C3E3FD;
}
.load_btn {
    background: lightgreen;
}
.delt_btn {
    background: pink;
}
.inc_type_icon {
    width: 30px;
    height: 30px;
}
#logout_btn {

}

#admin_btn {

}