
#mayday_dialog_body {
    padding: 0;
    background: #EEE;
}

.mayday_list li {
    margin: 0;
    cursor: default;
    padding-top: 2px;
}

#new_mayday_btn_icon {
    float: left;
}

#new_mayday_btn_text {
    float: left;
}

.mayday_toggle {
    display: inline-block;
    float: left;
    padding: 0;
    height: 25px;
    width: 120px;
    font-size: 0.9rem;
    margin: 5px;
}

.mayday_exclusive_toggle_left {
    border-right: 0;
    margin-right: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.mayday_exclusive_toggle_right {
    border-left: 0;
    margin-left: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

#mayday_table_main {
    height:95%;
}
#mayday_table_main td {
    vertical-align: top;
}

#mayday_left_td {
    padding: 0;
    width: 285px !important;
    background: #EEE;
}

#mayday_units_div {
    width: 100%;
    margin: 4px 4px 10px 4px;
    min-height: 1px;
}

.mayday_name_label {
    float: left;
    font-weight: bold;
    font-size:14px;
    margin-top: 3px;
}
.mayday_value {
    padding-left:5px;
}
.mayday_psi_btn {
    margin-top: 1px;
    margin-right: 4px;
    float: left;
    width: 50px;
    height: 25px;
    padding-top: 1px;
}

.mayday_box_title_edit {
    margin-left:40px;
}
.mayday_box_title {
    font-size: 1.1rem;
    font-weight: bold;
    color: #666;
    margin-bottom: 5px;
    text-align: center;
    width: 100px;
    float:left;
}

.mayday_clear_btn {
    width: 200px;
    height: 24px;
    padding: 2px;
    margin-right: 4px;
    font-size: 14px !important;
}

#new_mayday_btn {
    width: 272px;
    margin: 4px;
}
.mayday_timer {
    font-size: 1.1rem;
    color: #666;
    float: left;
    margin-right: 5px;
}
#new_mayday_btn_icon {
    height: 12px;
    width: 12px;
    margin: 4px;
}

#mayday_info_edit_div {
    padding: 5px;
    border: 1px solid #666;
    margin: 4px 4 !important;
    width: 272px;
}

#mayday_right_td {
    width: 100%;
    height: 100%;
}

.mayday_tab_div {
    height: 100%;
    width: 100%;
    padding: 10px;
    float: left;
}

#mayday_right_tab_div {
    width: 100%;
    background: #EEE;
}

.mayday_right_tab_text {
    float: left;
    margin: 3px 8px 0 0;
    box-shadow: none;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
#mayday_list_box {
    width: 100%;
    background: #EEE;
    float: left;
}
.mayday_saved {
    width: 228px;
    background: #fff8f3;
    float: left;
    margin: 10px;
    padding: 4px;
    border: 3px double #999;
}
.mayday_saved_selected {
    box-shadow: 0 0 25px blue;
    border: 4px solid red;
    background: lightpink;
}
.mayday_saved:hover {
    background: white;
    cursor: pointer;
}
.mayday_saved:active {
    background: darkgray;
    cursor: pointer;
}
.create_new_mayday_box {
    height: 274px;
    text-align: center;
    font-size: x-large;
    padding-top: 60px;
    border-radius: 10px;
    background: pink;
}
.mayday_misc_value {
    width:104px;
    height: 20px;
    font-size: 0.8rem;
    float:left;
    text-align: center;
    border: 1px solid darkgray;
    background: #EEE;
    margin: 1px;
    border-radius: 3px;
}

.yellow_bg {
    background: #E7E5B0;
}

.mayday_select {
    text-align: center;
    background: #FFF;
    color: #000;
    border: 1px solid #9a9a9a;
    border-radius: 3px;
    padding: 4px 4px 4px 4px;
    cursor: pointer;
    box-shadow: 1px 1px 2px #888;
    display: block;
    margin-bottom: 10px;
    width: 190px;
    height: 20px;
    float: left;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 5px;
}
#mayday_unit_select {
    width:124px;
    height:25px;
    margin-left:2px;
    margin-right:2px;
    margin-top:4px;
    margin-bottom: 5px;
}

.mayday_topstuff {
    margin-bottom: 10px;
}

.mayday_select_label {
    margin:0 0 0 5px;
    padding: 4px 0 0 0;
    float: left;
    width: 50px;
    text-align: right;
}

.mayday_select_half {
    float:left;
    width:124px;
}

.yellow_bg {
    background: #E7E5B0;
}

.tan_bg {
    background: #E7C9B0;
}

.green_bg {
    background: #B0E7B0;
}

.gray_bg {
    background: #D6D6D6;
}

.blue_bg {
    background: #BDDFFC;
}

.red_bg {
    background: #F27272;
}

.mayday_name_input {
    width: 175px;
    margin: 0 4px;
    border-left: #EEE 2px solid;
    border-top: #EEE 2px solid;
    border-right: #EEE 2px solid;
    color: black;
    float: left;
}


#mayday_form{
    height: 100%;
    width: 100%;
    background: #EEE;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 99;
}

#mayday_form_title_bar {
    background: #999;
    color: white;
    border: 1px black solid;
    font-size: 1.4rem;
    height: 51px;
    text-align: center;
    padding-top: 7px;
}

#mayday_form_close_btn {
    background: #F67574;
    height: 42px;
    padding-top: 4px;
    padding-left: 2px;
    line-height: 1.0em;
    margin: 2px;
    color: white;
    border-radius: 15px;
    border: 1px solid #CCC;
    text-shadow: none;
    width: 40px;
    float: right;
    font-size: 0.8rem;
    position: fixed;
    top: 3px;
    right: 5px;
}
#mayday_form_close_btn:hover {
    background: #ffacb0;
}
#mayday_form_close_btn:active {
    background: #bb797d;
}

.list_med_font_size {
    font-size: 1.1rem;
    font-weight: 500;
}

.mayday_list li {
    margin: 0;
    cursor: default;
    padding-top: 2px;
}

.mayday_check {
    width: 15px;
    height: 15px;
    margin: 5px !important;
}

.list_level_2 {
    margin-left: 15px !important;
}

.clear_mayday_dlg_button {
    width: 325px;
    height: 30px;
    margin: 5px;
}

#mayday_dlg {
    padding:10px;
}

@keyframes mayday_choice_keyframes {
    0% {
        box-shadow: 0px 0px 5px darkred;
        animation-timing-function: ease-in;
        background-color: white;
    }
    50% {
        box-shadow: 0px 0px 5px darkred, 0px 0px 10px red;
        animation-timing-function: ease-out;
        background-color: pink;
    }
}
.mayday_choice_animate {
    animation-name: mayday_choice_keyframes;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

.mayday_sector_label {
    float: left;
}

.mayday_unit_label {
    float: left;
}

.top_mayday_header_container {
    width: 100%;
    z-index: 50;
    padding-right: 100px;
    padding-bottom: 5px;
    pointer-events: none;
    background-color: pink;
}

.new_mayday_btn {
    width: 100px;
    font-size: medium;
    padding: 0px 10px;
    margin-left: auto;
    margin-right: auto;
    background: #FF9696;
    color: black;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: none;
    border-right: 2px solid orange;
    border-bottom: 2px solid orange;
    border-left: 2px solid orange;
}

.mayday_btn {
    /*width: 315px;*/
    height: 25px;
    font-size: medium;
    padding: 0px 10px;
    margin-left: auto;
    background: #FF9696;
    color: black;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: none;
    border-right: 2px solid orange;
    border-bottom: 2px solid orange;
    border-left: 2px solid orange;
}

.mayday_btn:hover {
    background: red;
}

.mayday_btn:active {
    background: #C20000;
}

#mayday_clear_dialog {
    width: 350px;
}

.mayday_clear_item_btn {
    margin: 5px 0 5px 10px;
    width: 325px;
}

.mayday_sector_title {
    width:124px;
    height: 27px;
    padding: 4px 0 0 2px;
    font-size: 0.7rem;
    float:left;
    margin:4px 2px;
}
.mayday_sector_btn_list {
    float:right;
}
.mayday_row_div {
    /*margin-top: 10px;*/
}
.mayday_info_tbl_l {
    font-weight: bold;
    text-align: right;
}
.mayday_info_tbl_r {
    padding-left: 10px;
    text-align: left;
}
.has_mayday {

}

@keyframes mayday_btn_keyframes {
    0%      { background: white;    border: 1px solid red;     box-shadow: none;}
    20%     { background: red;      border: 1px solid white;   box-shadow: 0px 0px 10px 5px red;}
    100%    { background: white;    border: 1px solid red;     box-shadow: none;}
}
.mayday_btn_animate {
    animation-name: mayday_btn_keyframes;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes unit_btn_hasmayday_keyframes {
    0%      { background: white;    box-shadow: none;}
    20%     { background: red;      box-shadow: 0px 0px 10px 5px red;}
    100%    { background: white;    box-shadow: none;}
}
.unit_btn_hasmayday_animate {
    animation-name: unit_btn_hasmayday_keyframes;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.mayday_header_btn_container {
    width: 100%;
    text-align: center;
}
