
body.login{
    background: #202020;
    color: black;
    text-align: center;
    height: 100%;
}

#userpass_container {
    padding-top: 20px;
}

#userpass_title {
    font-family: sans-serif;
    font-size: 1.2rem;
}

#userpass_info_entry {
    font-family: sans-serif;
    font-size: 1.2rem;
}

#login_btn {
    width: 150px;
    margin: 5px;
}

.invalid_login_border {
    border: 5px solid red;
}

.invalid_login_font {
    color: red;
}
