tbar {
    border: 1px solid gray;
    margin: 10px;
    height: 290px;
    width: 280px;
    display: inline-block;
    vertical-align: top;
    padding: 0;
    border-radius: 3px;
    z-index: 0;
    background: white;
}
.tbar_uninitialized {
    border:1px solid rgba(173, 216, 230, 0.34);
}
.tbar_guts_uninitialized {
    text-align:center;
    width: 100%;
    height:100%;
    cursor:pointer;
    padding-top: 90px;
    color: white;
    font-size: 2.5rem;
    background: rgb(213, 216, 253);
}
.tbar_guts_initialized {

}

.tbar_container {

}

.benchmarks_icon {
    width: 14px;
    height: 15px;
    margin-right: 4px;
    float:left;
}
.benchmark_bar_img {
    margin-bottom: 1px;
    display:block;
}
.benchmark_bar_div {
    width: 14px;
    height: 3px;
    margin-right: 4px;
    margin-bottom: 1px;
    float:left;
}
.benchmark_green {
    background-color: lightgreen;
}
.benchmark_black {
    background-color: black;
}
.benchmark_red {
    background-color: red;
}

.tbar_col_scroll_div {
    width:134px;
    height:211px;
    overflow-y:scroll;
    margin-top: 2px;
}
.tbar_col_left_div {
    border-right: 1px solid #999;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 2px;
}

::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.scroll-pane {
    height: 232px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.left_scroll_pane {
    direction: rtl;
}
.left_scroll_pane>div {
    direction: ltr;
}

.unit_row {
    padding: 3px;
}
.unit_row_left_column {
    min-height: 63px;
    width: 66px;
    float: left;
    border-right: none;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.unit_row_right_column {
    float: left;
    width: 204px;
    min-height: 63px;
    background: rgba(238, 238, 238, 0.39);
}
.unit_btn {
    width: 57px;
    border-radius: 10px;
    font-size: 1.0rem;
    text-align: center;
}
.unit_tbar_btn {
    float: left;
}
.unit_add_btn {
    width:57px;
    height:27px;
    margin: 2px 10px;
    float:right;
    background: #AAC7D1;
    border-bottom: 2px dotted #888 !important;
    border-radius: 10px;
    font-size: 1.0rem;
    padding:2px 0;
}

.acct_unit_label {
    float:left;
}
.acct_unit_btn {
    height: 23px;
    width: 70px;
    margin: 3px;
    padding: 0 5px;
}
.units_dlg_acct_options_label {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    border: 1px solid;
    padding: 0;
    margin: 0;
    float: left;
}
.acct_unit_btn_wide {
    width: 90px;
}
.needs_acct_unit {
    background: rgb(213, 216, 253);
}
.has_acct_unit {
    background: rgba(255, 255, 0, 0.47);
}
.add_acct_unit_label {
    color: white;
}
.add_actions_label {
    text-align: center;
    color: white;
}
.action_add_btn {
    /*width:57px;*/
    /*height:27px;*/
    /*margin: 2px 4px;*/
    /*float:right;*/
    background: #AAC7D1;
    border-bottom: 2px dotted #888 !important;
    /*border-radius: 10px;*/
    /*font-size:0.8rem;*/
    /*padding:6px 0;*/
}

.par-btn {
    width:30px;
    padding:4px;
    font-size: 0.6rem;
}
.sector_name_btn {
    height: 24px;
    padding: 0 0 0 2px;
    font-size: 1.0rem;
    float:left;
    margin:2px;
}
.bnch-btn {
    width:57px;
    height: 23px;
    font-size: 0.6rem;
    float:right;
    margin-right: 4px;
}

.personnel_btn {
    width: 20px;
    height: 20px;
    padding: 2px 0;
    border-radius: 15px;
    font-size: 0.8rem;
    /*background: #CCC;*/
}

.psi_red {
    background: red;
    color: #FFF !important;
}
.psi_yellow {background: yellow;}
.psi_green {background: #3dff00;}
.psi_btn {
    width:  25px;
    color: #666;
    font-weight: normal;
    font-size: 0.6rem;
    text-shadow: none;
    padding: 4px 0;
    margin-left: 5px;
}

.par_sector_btn {
    width:170px;
    margin:5px auto !important;
    float: none;
}

.bnch_icon_off {
    content:url(img/bnch_bar_black.png);
}

.bnch_icon_on_good {
    content:url(img/bnch_bar_green.png);
}

.bnch_icon_on_bad {
    content:url(img/bnch_bar_red.png);
}

.gridster .gs-w {
    /*cursor: pointer;*/
}

.gridster .player {
    background: #BBB;
}

.gridster .preview-holder {
    border: none!important;
    background: red!important;
}


.tbar_title_container {
}
.tbar_title_component {
    float: left;
}
.tbar_title_dir {
    width:30px;
    font-size:0.7rem;
    padding-top:4px;
}
.tbar_title_dir_wide_td {
    width: 33px;
}
.tbar_title_num {
    width:10px;
    padding-right:5px;
}
.tbar_title {
    width: 139px;
    text-align:center;
}
.tbar_footer_container {
    display: table;
    width:100%;
}


.action_btn {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    box-shadow: none;
    padding-bottom: 2px;
    color: black;
}
.action_dlg_btn {
    width: 126px;
    height: 26px;
    margin: 4px;
    font-size: 0.65rem !important;
    font-weight: bold;

}
.action_tbar_btn {
    width: 95px;
    height: 15px;
    margin: 1px;
    font-size: 0.6rem;
    float: left;
    background: #fff;
    text-align: center;
    border: 1px solid;
}

.tbar_unit_info_btn {
    border:1px solid #EEE;
    float:left;
    border-radius: 5px;
    margin-left: 0;
}
.tbar_unit_info_btn:hover {
    background:#9ad1ff;
    cursor: pointer;
}
.tbar_unit_info_btn:active {
    background:#6BACE3;
    cursor: pointer;
}

.personnel_title_btn {
    float: left;
    margin: 4px;
    cursor: pointer;
}
.personnel_tbar_btn {
    float: left;
    margin-left: 2px;
}
.personnel_not_set {
    background: rgb(213, 216, 253);
    border: 1px solid darkgray;
    color: white;
    font-weight: bold;
}
.personnel_set {
    background: lightgreen;
}
.has_par {
    background: lightgreen;
}

.psi_tbar_btn {
    float:left;
}

.has_actions {
}
.no_actions {
    background:rgb(213, 216, 253);
}

.unit_timer_bar_border {
    border: 1px solid;
    height: 5px;
    width: 57px;
    margin-top: 4px;
}
.unit_timer_bar_fill {
    /*background: red;*/
    height: 3px;
}
.unit_timer_good {
    background: #00ff00;
}
.unit_timer_warn {
    background: yellow;
}
.unit_timer_crit {
    background: red;
}
@keyframes unit_timer_done_keyframes {
    0% { background: black; border: 1px solid red; box-shadow: none;}
    20% { background: white; border: 1px solid white; box-shadow: 0px 0px 10px 5px red;}
    100% { background: black; border: 1px solid red;box-shadow: none;}
}
.unit_timer_done {
    animation-name: unit_timer_done_keyframes;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.clock_icon_tbar {
    width: 15px;
    height: 15px;
    float: left;
    margin-top: 8px;
    margin-left: 4px;
}

.add_unit_btn {
    width: 52px;
    height: 24px;
    background: white;
    text-align: center;
    color: white;
    margin: 2px 4px;
    padding: 0;
    background: rgba(0, 0, 255, 0.13);
}

.unit_options_row_container {

}

[ng-drop].drag-enter{
    background: rgba(95, 95, 95, 0.27);
}

.unit_row_drag_clone {
    background:white;
}

.drag-over {
    opacity: 0;
}

.actions_while_moving {
    opacity: 0.1;
}

.unit_drag_handle {
    width:50px;
    height:50px;
    /*background: red;*/
    background-image: url("../img/drag_handle.png");
}

.unit_drag_handle_label {
    background: #DDD;
    font-weight: bold;
}

.add_channel_btn {
    height: 23px;
    width: 65px;
    margin: 3px;
    padding: 0 5px;
}
.add_channel_icon {
    width: 15px;
    height: 15px;
}

@media (max-width: 710px) {
    .tbar_container {
        margin-top: 40px;
    }
}

