<!DOCTYPE html>
<html lang="en" ng-app="SplashController">
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <title>ICT</title>
    <meta name="description" content="Incident Command Tracker"/>
    <link href="img/logo/ict_logo_29x29.png" rel="icon"/>

    <!--CSS-->
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" type="text/css" href="css/stylesheet_global.css"/>
    <link rel="stylesheet" type="text/css" href="css/stylesheet_splash.css"/>
    <link rel="stylesheet" type="text/css" href="css/stylesheet_loading_splash.css"/>

    <!--JS-->
    <script src="bower_components/parse-sdk/lib/parse.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="js/config.js"></script>
    <script src="js/init.js"></script>
    <script src="js/adapters/AdaptersList.js"></script>
    <script src="js/adapters/ParseAdapter.js"></script>
    <script src="js/adapters/StaticAdapter.js"></script>
    <script src="js/DataServices.js"></script>
    <script src="js/ActionServices.js"></script>
    <script src="js/UnitServices.js"></script>
    <script src="js/SectorServices.js"></script>
    <script src="js/IncidentServices.js"></script>
    <script src="js/IapServices.js"></script>
    <script src="js/ObjectivesServices.js"></script>
    <script src="js/OSRServices.js"></script>
    <script src="js/TbarServices.js"></script>
    <script src="js/UpgradeServices.js"></script>
    <script src="js/UserServices.js"></script>
    <script src="js/DepartmentServices.js"></script>
    <script src="js/SplashServices.js"></script>
    <script src="version.js"></script>

</head>

<body class="splashpage" ng-controller="SplashCtrl">
<div id="splash_outer_outer_div">
    <div id="splash_outer_inner_div">
        <button id="logout_btn"
                ng-click="userLogout()">
            <div style="margin-top:-1px">Logout</div>
        </button>
        <button id="admin_btn"
                ng-click="redirectAdmin()">
            <div style="margin-top:-1px">Admin</div>
        </button>
        <div class="splash_row1">
            <img id="splash_title_logo_img" src="img/logo/ict_logo_300x300.png"/>

            <div id="splash_inc_info_container">
                <div id="splash_title">Incident Command Tracker</div>
                <div class="incident_info_entry">
                    <div>Incident #:</div>
                    <input id="inc_num_input" name="inc_num_input" type="text" ng-model="incidentObj.inc_number"/>
                </div>
                <div class="incident_info_entry">
                    <div>Address:</div>
                    <input id="address_input" name="address_input" type="text" ng-model="incidentObj.inc_address"/>
                </div>
            </div>
            <div class="clear_both"></div>

            <div class="splash_start_btns_div">
                <button class="splash_start_btn"
                        ng-repeat="incidentType in incidentTypes | sortIncTypeByOrder"
                        ng-click="createAndLoadNewIncident(incidentType)">
                    <img class="splash_start_btn_icon" ng-src="{{incidentType.icon}}"/>

                    <div class="splash_start_btn_text">{{incidentType.nameLong}}</div>
                </button>
                <div class="clear_both"></div>
            </div>
            <div class="clear_both"></div>
        </div>

        <table class="splash_inctable">
            <thead>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Number</td>
                    <td>Type</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="incident in incident_list">
                    <td>
                        <button class="load_btn"
                                ng-click="loadIncident(incident.id)">Load</button>
                    </td>
                    <td>
                        <button class="delt_btn"
                                ng-click="deleIncident(incident)">Delete</button>
                    </td>
                    <td>
                        {{incident.inc_number ? incident.inc_number : "[Incident Number]"}}
                    </td>
                    <td>
                        <img class="inc_type_icon" ng-src="{{incident.incidentType.icon}}"/>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="clear_both"></div>
    </div>

    <div class="copyright_div">
        <div id="copyright_text" class="lic_info_splash">&copy; Copyright 2014 White Helmet Tech, LLC</div>
        <div id="version_text" class="lic_info_splash">Version: 0.0</div>
    </div>

</div>

<div class="loading_splash_screen" ng-controller="LoadingSplashDlg"
     ng-show="!dataStore.loadSuccess">
    <center>
        <img class="loading_title_logo_img" src="img/logo/ict_logo_300x300.png"/>
        <div class="clear_both"></div>
        <h1>LOADING</h1>
        <div class="clear_both"></div>
        <img src="img/loading.gif"/>
    </center>
</div>


</body>
</html>

<script>

</script>
